.user-filter {
  label {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
  }
  input {
    padding: 10px 15px;
    margin-top: 10px;
    width: 200px;
  }

  .filter-button {
    display: block;
    margin-top: 20px;
    padding: 5px;
  }
}
.user-list {
  margin-top: 20px;
  ul {
    padding: 0;
  }
  li {
    margin-bottom: 20px;
    list-style-type: none;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding: 10px;
  }
  .user__image {
    flex-basis: 50px;
    margin-right: 10px;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .user__trigger {
    display: flex;
    width: 100%;
    align-items: center;
    border: 0;
    text-align: left;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .user__age {
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .user-filter__no-users-found {
    display: inline-block;
    margin-left: 10px;
    .fade-appear {
      opacity: 0;
      transform: scale(0.2);
    }
    .fade-appear-active {
      opacity: 1;
      transform: scale(1);
      transition: all 1000ms;
    }
  }
}
